<div class="container forgot">
    <div class="message title">
        <div class="center">
            <h4>Recovering your account</h4>
            <div class="container message">
                <p>
                Did you forget your password? No problem! Happens to everyone. 
                <br>
                <br>
                All you have to do is to enter your email address below. Once your email submitted, we will 
                send an activation code and then you will be able to reset your password!
            </p>
            </div>
            <div class="container cont">
                <div id="step1" class="step">
                    <h5>Step 1: Checking if your email is valid</h5>
                    <form id="forgot-password-email-form" onsubmit="return false;">
                        <div class="container">
                            <div class="row">
                                <div class="input-field col s12 m12">
                                    <i class="material-icons prefix">email</i>
                                    <input id="email-step-1" type="email" class="validate">
                                    <label data-error="This email is not associated with any accounts." for="email">Your email address</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="">
                                    <button style="margin-top: 5px;" class="btn disabled" value="login" id="step-1-sub">
                                        Check my email!
                                        <i class="material-icons right">check_circle</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="step2" class="step hide">
                    <h5>Step 2: Checking you are the owner of this email</h5>
                    <form id="forgot-password-code-form" class="verification-act-code" onsubmit="return false;">
                        <div class="container">
                            <div class="center">
                                <div id="step2-error-message" class="hide error message">
                                    This is not quite what we expected, please try again.
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m2">
                                    <input class="validate" data-verify="code" data-verify-value="1" type="text"/>
                                </div>
                                <div class="input-field col s12 m2">
                                    <input class="validate" data-verify="code" data-verify-value="2" type="text"/>
                                </div>
                                <div class="input-field col s12 m2">
                                    <input class="validate" data-verify="code" data-verify-value="3" type="text"/>
                                </div>
                                <div class="input-field col s12 m2">
                                    <input class="validate" data-verify="code" data-verify-value="4" type="text"/>
                                </div>
                                <div class="input-field col s12 m2">
                                    <input class="validate" data-verify="code" data-verify-value="5" type="text"/>
                                </div>
                                <div class="input-field col s12 m2">
                                    <input class="validate" data-verify="code" data-verify-value="6" type="text"/>
                                </div>
                            </div>
                            <div id="loader" class="progress hide">
                                <div class="indeterminate"></div>
                            </div>
                            <div id="reset-submit-cont">
                                <div style="margin-top: 10px;" class="btn red lighten-1 disabled" id="reset">
                                    Reset
                                </div>
                                <button style="margin-top: 10px;" class="btn disabled" value="login" id="step-2-sub">
                                    Verify
                                    <i class="material-icons prefix right">lock</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="step3" class="step hide">
                    <h5>Step 3: Resetting your password</h5>
                    <form id="forgot-password-password-form" onsubmit="return false;">
                        <div class="container">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <i class="material-icons prefix">vpn_key</i>
                                    <input id="password-step-3" type="password" class="validate">
                                    <label data-error="This password is too short." for="password">Choose a password</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="cpassword-step-3" type="password" class="validate">
                                    <label data-error="This password doesn't match the original password." for="cpassword">Confirm your password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="">
                                    <button style="margin-top: 10px;" class="btn disabled" value="login" id="step-3-sub">
                                        Reset my password!
                                    </button>
                                    <div id="success-cont" class="center hide">
                                        <div class="message success">
                                            Great! Your password was successful changed.
                                            <i class="material-icons right">done</i>
                                        </div>
                                        <a href="/" style="margin-top: 10px;" class="btn">
                                            OK, go to login
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/forgot-password.js"></script>
</div>
