<div class="container">
    <div class="message title">
        <div class="center">
            <h4>Registration successful</h4>
            <p>
                Check if your email inbox for a confirmation email
                containing a 6-digit activation code.
            </p>
            <div class="container">
                <form id="verification-act-code" class="verification-act-code" onsubmit="return false;">
                    <div class="container">
                        <div class="row">
                            <div class="input-field col s12 m2">
                                <input class="validate" data-verify="code" data-verify-value="1" type="text"/>
                            </div>
                            <div class="input-field col s12 m2">
                                <input class="validate" data-verify="code" data-verify-value="2" type="text"/>
                            </div>
                            <div class="input-field col s12 m2">
                                <input class="validate" data-verify="code" data-verify-value="3" type="text"/>
                            </div>
                            <div class="input-field col s12 m2">
                                <input class="validate" data-verify="code" data-verify-value="4" type="text"/>
                            </div>
                            <div class="input-field col s12 m2">
                                <input class="validate" data-verify="code" data-verify-value="5" type="text"/>
                            </div>
                            <div class="input-field col s12 m2">
                                <input class="validate" data-verify="code" data-verify-value="6" type="text"/>
                            </div>
                        </div>
                        <div id="loader" class="progress hide">
                            <div class="indeterminate"></div>
                        </div>

                        <div id="reset-submit-cont">
                            <div style="margin-top: 10px;" class="btn red lighten-1" id="reset">
                                Reset
                            </div>
                            <button style="margin-top: 10px;" class="btn disabled" value="login" id="submit">
                                Verify
                                <i class="material-icons prefix right">lock</i>
                            </button>
                        </div>
                        <div id="continue-cont" class="hide">
                            <div class="center">
                                <div class="message success">
                                    Your account was successfully activated!
                                </div>
                            </div>
                            <a href="/?username={{{username}}}" style="margin-top: 10px;" class="btn">
                                OK, go to login
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/code-verification.js"></script>
</div>