/* for icon sidebar */
#icon-side-nav{
	width: 61px;
}
.side-nav li{
	margin: 5px 0 !important;
}

.side-nav li>a{
	padding: 0;
	text-align: center;
	height: 61px;
	line-height: 61px;
	color: inherit;
}
/*this is in order to center icons in the navbar*/
.side-nav li>a>i{
	margin: 0 !important;
	/*float: none !important;*/
}

.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
	height: 61px !important;
	line-height: 61px !important;
	width: 61px;
	color: inherit;
}

#icon-side-nav{
	background: rgb(62, 64, 63);
	color: rgba(255, 255, 255, 0.9);
	z-index: 9999;
}

.side-nav li>a:hover {
	background: rgba(233, 224, 255, 0.5) !important;
}
/* picture in the left navbar */
#avatar-picture {
	border-radius: 15px;
	/* in total, picture with margin needs to occupy 61px*/
	width: 51px;
	height: 51px;
	margin: 5px;
	border: 3px solid rgba(255, 255, 255, 0.9);
}

.material-sidebar-icon{
	font-size: 3.5rem;
}

.fa-sidebar-icon{
	font-size: 3.2rem;
}

.fa-sign-out{
	padding-left: 5px;
}

.material-gear{
	font-size: 3.1rem;
}

.fa-question{
	padding-right: 5px;
}

#course-side-nav{
	left: 61px !important;
	/* #notes-side-nav has 999, needs to be lower than 1039 for jquery dropdown*/
	z-index: 1000;
}

.collection-icon{
	color: black !important;
	top: 11px !important;
	right: 9px !important;
}

.collection-icon:hover, .header-icon:hover, .fullscreen-icon:hover{
	/*color: #c8ff5b !important;*/
	color: #ffffff !important;
	cursor: pointer;
	background: #ddd;
	border-radius: 6px;
}

.toggled-icon{
	color: #ffffff !important;
	cursor: pointer;
	background: #7b7b7b;
	border-radius: 6px;
}

.list-item{
	color: black !important;
}

.scroll-list{
	width:210px;
	top: 0;
	bottom: 0;
	margin-top: 0;
	border-left: 0;
}

.scroll-list > .collection-header{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	height: auto;
	padding: 0 20px !important;
	border-bottom-style: double !important;
	border-bottom-color: black !important;
	border-bottom-width: 3px !important;
	line-height: 25px;
}

#course-header{
	font-weight: bold;
	margin: .5rem 0 .5rem 0;
}

.header-icon{
	padding: 1px 3px;
	top: 5px;
	position: absolute;
	right: 8px;
	font-size: 22px;
	color: black;
}

a.list-item.collection-item{
	min-height: 0px !important;
	padding-left: 20px !important;
	border-bottom: groove !important;
	border-bottom-width: 1px !important;
}

.collection-icon.fa-ellipsis-v{
	font-size: 22px;
	padding: 0 8px;
}

.trash-icon{
	font-size: 18px;
}

.hovered{
	background: #ddd !important;
}

.not-hovered{
	background: #ffffff !important;
}

.collection-item.hovered.active, .collection-item.active{
	background: #ecffa9 !important;
	cursor: default;
}

#notes-side-nav{
	left: 271px;
	border-left-style: groove;
}

.collapse-icon{
	padding: 3px;
	font-size: 1.6em;
	border: groove rgba(211, 211, 211, 0.51) 2px;
	position: fixed;
	right: -1px;
	top: 50%;
	border-radius: 3px;
	cursor: pointer;
}

.editor {
	left: 480px;
	margin-right: 480px;
	position: relative;
	height: 87.3vh;
}

.editor .top-icon {
	float: right;
	margin: -55px 30px 40px 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	 user-select: none;
}

.top-icon .header-icon {
	position: relative;
	padding: 0;
}

.editor .top-icon:hover {
	cursor: pointer;
}

.editor .fullscreen {
}

.editor .file-download {
}

.editor .sharing {
}

.top-icon .material-icons {
	font-size: 2.5em;
}

.editor .input-field {
	width: 60%;
}

.editor .note-title {
	padding-left: 20px;
	/*Below breaks the note-taking icons, commented out in case below line was important*/
	/*width: 50%;*/
	font-weight: bold;
}

.editor .note-title .row {
	margin-bottom: 0;
}

.editor input[type="text"] {
	height: 3em;
	font-size: 150%;
	border-bottom: 1px solid #fff;
	margin: 0;
}

.dropdown-head{
	padding: 4px 15px 1px 15px !important;
	font-weight: bold;
}

#note-dropdown, #course-dropdown{
	width: 280px;
}

.dropdown-icon {
	font-size: 18px;
	float: right;
}

.notetaking-title{
	font-size: large !important;
}

.note-date{
	font-size: smaller;
}

.course-code{
	font-size: large !important;
}

.modal .collapsible-body li {
	list-style: disc;
}

#profile-settings-explanation{
	text-decoration: underline;
	font-weight: bold;
}

.success-toast{
	background: rgba(59, 180, 71, 0.65);
}
.warning-toast {
	background: rgba(180, 178, 52, 0.65);
}

.delete-toast{
	background: #EF5350;
}

.share-input{
	margin-top: 8px;
	margin-bottom: 0;
}
.share-input > div > input{
	/*margin-bottom: 0 !important;*/
}

.thin-row{
	margin-bottom: 0 !important;
}

.share-button{
	float: right;
	font-size: x-small;
}

#share-dropdown > div > .dropdown-head {
	padding-left: 10px !important;
}

#share-email, #share-email-2{
	margin-bottom: 30px !important;
}

.small-modal{
	width: 40% !important;
}

.medium-modal{
	width: 60% !important;
}

#create-note-modal{
	height:45%;
}

.dialog-modal{
	height: 25% !important;
}

.modal-header{
	/*margin-bottom: 0;*/
}

#course-side-nav > a:not(.active), #notes-side-nav > a:not(.active){
	cursor: pointer;
}

#modal2{
	height: 80% !important;
}

label::after{
	font-size: 12px;
}