/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-wrapper {
  background: #64b5f6;
}
.nav-wrapper.loading {
  background: #95d0ff;
}
.nav-wrapper.red {
  background: #e57373;
}
.nav-wrapper.red.loading {
  background: #ffcdd2 !important;
}
.nav-wrapper.pink {
  background: #f48fb1 !important;
}
.nav-wrapper.pink.loading {
  background: #f8bbd0 !important;
}
.nav-wrapper.purple {
  background: #ba68c8;
}
.nav-wrapper.purple.loading {
  background: #e1bee7 !important;
}
.nav-wrapper.blue {
  background: #64b5f6 !important;
}
.nav-wrapper.blue.loading {
  background: #95d0ff !important;
}
.nav-wrapper.default {
  background: #64b5f6;
}
.nav-wrapper.default.loading {
  background: #95d0ff !important;
}
.nav-wrapper.cyan {
  background: #4dd0e1;
}
.nav-wrapper.cyan.loading {
  background: #b2ebf2 !important;
}
.nav-wrapper.green {
  background: #81c784;
}
.nav-wrapper.green.loading {
  background: #c8e6c9 !important;
}
.nav-wrapper.yellow {
  background: #ffca28;
}
.nav-wrapper.yellow .material-icons {
  color: black;
}
.nav-wrapper.yellow.loading {
  background: #fff9c4 !important;
}
.nav-wrapper.orange {
  background: #ff9800;
}
.nav-wrapper.orange.loading {
  background: #ffe0b2 !important;
}
.nav-wrapper.brown {
  background: #8d6e63;
}
.nav-wrapper.brown.loading {
  background: #bcaaa4 !important;
}
.nav-wrapper.grey {
  background: #757575;
}
.nav-wrapper.grey.loading {
  background: #bdbdbd !important;
}
.side-nav {
  background: #e3f2fd;
}

.ql-container {
    font-size: 20px;
}

a.busy {
    pointer-events: none !important;
    cursor: default !important;
}

a.busy .material-icons {
  color: #bcb;
}

li.search .search-wrapper input#search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 45px 0 15px;
    border: 0;
}

.search {
    margin-top: 20px;
}

li.search .search-wrapper i.material-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.success-toast{
  background: rgba(59, 180, 71, 0.65);
}
.warning-toast, .delete-toast {
  background: rgba(180, 178, 52, 0.65);
}
.error-toast{
  background: #EF5350;
}


/**
    Wrapper and vertical-center are used for vertically
    centering content.

    Usage:
      <div class="vertical-center">
        <div class="wrapper">
          <p>Things to vertically center.</p>
        </div>
      </div>
 */
.wrapper {
  position: absolute;
  display: table;
  width: 100%;
}
.vertical-center {
   min-height: 90vh;
   display: flex;
   align-items: center;
 }

/* App catch phrase's style */
.catch-phrase {
  font-weight: bold;
  color: #9fa0ff;
  font-size: 115%;
}

/* Verification code CSS */
.verification-act-code input[type="text"] {
  text-align: center;
}

/* Status CSS classes */
.message {
    font-weight: bold;
}

.error.message {
    color: #990000;
}

.success.message {
    color: #004d00;
}

.waiting.message, .loading.message {
    color: #b3b300;
}

/* Utils classes */
.container-fluid {
  padding: 20px;
}

.container.message {
  width: 60%;
}

.container.cont {
  margin-top: 30px;
}

.message.title {
  margin-top: 10%;
}

.modal {
  z-index: 1000;
}

.forgot h5 {
  margin-top: 30px;
}

.step {
  padding-top: 10px;
}

.chip {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    
    transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
}

.chip:hover {
    background-color: #CDCDCD;
}

.chip.active {
    background-color: #26a69a;
    color: #fff;
}













.progress.in-menu {
  margin-top: -1px;
}

.notes-status {
  text-align: center;
  padding: 5px 10px;
  margin: 0;
  font-size: 10px;
  line-height: 12px !important;
}

.note-status.preloader-wrapper.small {
  height: 12px;
  width: 12px;
}

.editor {
    /* left: 480px;
    margin-right: 480px; */
    position: relative;
    height: 85vh;
    margin-top: -15px;
}

.next-to-side {
    left: 300px;
    margin-right: 300px;
}

.editor .top-icon {
    float: right;
    margin: -55px 30px 40px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

.top-icon .header-icon {
    position: relative;
    padding: 0;
}

.editor .top-icon:hover {
    cursor: pointer;
}

.editor .fullscreen {
}

.editor .file-download {
}

.editor .sharing {
}

.top-icon .material-icons {
    font-size: 2.5em;
}

.editor .input-field {
    width: 60%;
}

.editor .saving {
  position: relative;
  margin-top: 2.3rem;
}

.editor .saving span {
}

.editor .note-title {
    /*padding-left: 20px;*/
    /*Below breaks the note-taking icons, commented out in case below line was important*/
    /*width: 50%;*/
    font-weight: bold;
}

.editor .note-title .row {
    margin-bottom: 0;
}

.editor input[type="text"].title {
    height: 2.5em;
    font-size: 150%;
    border-bottom: 1px solid #fff;
    margin: 0;
}

.note-contents {
  margin: 0; margin-top: -20px; padding: 0;
}

a.note-container {
  height: 75px !important;
}

@media (max-width: 992px) {
    .next-to-side {
        left: 0;
        margin-right: 0;
    }
}
