
<header>
    <style type="text/css">
      nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        line-height: 50px;
        height: 50px;
      }
    </style>
    <nav>
      <ul id='download-dropdown' class='dropdown-content'>
        <li><a direct-download="html">as HTML</a></li>
        <li><a direct-download="pdf">as PDF</a></li>
        <li><a direct-download="text">as Text</a></li>
      </ul>
      <div id="nav-wrapper" class="nav-wrapper">
        <a href="/" class="brand-logo">ForeverNote</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li note-option note-listener class="hide"><a title="Add a new node" href="#" id="add-note"><i class="material-icons">fiber_new</i></a></li>
          <li note-option note-listener class="hide"><a title="Close this note" href="#" id="close-note"><i class="material-icons">close</i></a></li>
          <li id="download-li" note-option="" note-listener class="hide dropdown-button" data-activates="download-dropdown"><a href="#"><i class="material-icons">file_download</i></a></li>
          <li title="Delete this note" note-option="delete" note-listener class="hide"><a href="#"><i class="material-icons">delete</i></a></li>
          <li><a title="Application settings" href="#settings"><i class="material-icons">settings</i></a></li>
          <li class="hide"><a title="Need some help?" href="#help"><i class="material-icons">help</i></a></li>
          <li><a title="Logout" href="/logout"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
      </div>
    </nav>
    <ul id="nav-mobile" class="side-nav fixed">
        <div class="container">
            <div class="center">
                <div style="margin-top: 20px;" class="row">
                  <div class="col col s4 m4 l4">
                    <a title="Edit your account" href="#modal_user_edit">
                      <img src="https://www.gravatar.com/avatar/<%= current_user.get_email_hash %>" class="circle responsive-img valign profile-image">
                    </a>
                  </div>
                  <div class="col col s8 m8 l8">
                    <h5>Your notes</h5>
                  </div>
                </div>
            </div>
        </div>
        <li class="search">
            <div class="search-wrapper card">
                <input type="text" id="search" autocomplete="off" placeholder="Search through notes...">
                <i class="material-icons right">search</i>
            </div>
        </li>
        <li id="notes-list-side" class="notes">
          <a href="#" class="note-container waves-effect waves-light">
            <div class="row">
              <p class="note-content"></p>
            </div>
          </a>
        </li>
    </ul>
</header>

<main>
    <div id="modals">
      <%= render 'shared/modals' %>
    </div>
    <div class="fixed-action-btn">
        <a title="Create a new note" state="new" id="note-mgnt-btn" class="btn-floating btn-large red">
          <i class="large material-icons" id="note-mgnt-icon">mode_edit</i>
        </a>
        <ul class="hide">
          <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        </ul>
    </div>
    <!-- <div id="progress" class="progress hide in-menu"><div class="indeterminate"></div></div>
    <div id="progress-value-cont" class="progress hide in-menu"><div id="progress-value" class="determinate"></div></div> -->
    <div note-listener="init-message" class="vertical-center next-to-side">
      <div class="wrapper">
        <div class="center">
          <div id="loading-notes" class="nothing">
            - Loading, shouldn't take too long... -
          </div>
        </div>
      </div>
    </div>
    <div id="editor" class="editor next-to-side hide">
        <div class="note-title">
            <div class="row">
              <div class="input-field col s9 m9">
                <input id="note-title-value" type="text" class="title" placeholder="Your note title">
                <label class="hide" for="title">Your note title</label>
              </div>
              <div class="col s3 m3">
                <div class="saving right">
                  <span note-status></span>
                </div>
              </div>
            </div>
        </div>
        <div id="editor-container"></div>
    </div>
</main>

<script type="text/javascript" src="/js/editor-settings.js"></script>
<script type="text/javascript" src="/js/forevernote.js"></script>
