<div class="vertical-center">
    <div class="wrapper">
        <div class="center">
            <h4>ForeverNote - Password recovery</h4>
            <p class="catch-phrase">
                <u>Simply</u> making note-taking for students <i>a pleasure</i>
            </p>
            <div class="container">
                <div id="step-1" class="hide" step-no="1">
                    <span><b>Did you forget your password? No problem, please enter your email address below.</b></span>
                    <form id="step1-form">
                        <div class="row">
                            <div class="input-field col s12 m10">
                                <i class="material-icons prefix">email</i>
                                <input id="step1-email" type="email" class="validate">
                                <label for="step1-email">Your valid email address</label>
                            </div>
                            <div style="margin-top: 10px;" class="col s12 m2">
                                <button class="btn btn-floating" value="login" id="step1-submit">
                                    <i class="material-icons prefix">send</i>
                                </button>
                                <div id="step1-loader" class="hide">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <p>
                        A new activation code will be sent to the email entered about. <br>You will then be asked to enter
                        your current username, and to create your new password.
                    </p>
                </div>
                <div id="step-2" class="hide" step-no="2">
                    <span>
                        <b>Now, please check your inbox and enter the 32-character alphanumeric code you've received by email below.</b>
                    </span>
                    <form id="step2-form">
                        <div class="row">
                            <div class="input-field col s12 m10">
                                <i class="material-icons prefix">vpn_key</i>
                                <input id="hash-code" type="text" class="validate">
                                <label for="hash-code">The 32-character alphanumeric code</label>
                            </div>
                            <div style="margin-top: 10px;" class="col s12 m2">
                                <button class="btn btn-floating" value="login" id="step2-submit">
                                    <i class="material-icons prefix">send</i>
                                </button>
                                <div id="step2-loader" class="hide">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="step-3" class="hide" step-no="3">
                    <span>
                        <b>Finally, please choose and enter your new password below.</b>
                    </span>
                    <form id="step3-form">
                        <div class="row">
                            <div class="input-field col s12 m5">
                                <i class="material-icons prefix">vpn_key</i>
                                <input id="password" type="password" class="validate">
                                <label for="password">Enter your new password here.</label>
                            </div>
                            <div class="input-field col s12 m5">
                                <i class="material-icons prefix">vpn_key</i>
                                <input id="cpassword" type="password" class="validate">
                                <label for="cpassword">Please confirm your password</label>
                            </div>
                            <div style="margin-top: 10px;" class="col s12 m2">
                                <button class="btn btn-floating" value="login" id="step3-submit">
                                    <i class="material-icons prefix">send</i>
                                </button>
                                <div id="step3-loader" class="hide">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <p>
                        Once your new password is set, we will automatically log you in.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/password-reset.js"></script>
</div>
