<!DOCTYPE html>
<html>
  <head>
    <title>ForeverNote</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- MaterializeCSS Library -->
    <link rel="stylesheet" type="text/css" href="/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>

    <!--w3.css Library-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Main Quill library -->
    <script src="//cdn.quilljs.com/1.3.0/quill.js"></script>
    <script src="//cdn.quilljs.com/1.3.0/quill.min.js"></script>

    <!-- Theme included stylesheets -->
    <link href="//cdn.quilljs.com/1.3.0/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.0/quill.bubble.css" rel="stylesheet">

    <!-- Full screen -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.0.2/screenfull.min.js"></script>

    <!-- Application settings -->
    <script type="text/javascript" src="/js/settings.js"></script>
  </head>

  <body>
    <%= yield %>
    <script type="text/javascript">
        $(document).ready(function() {
            $(document).ready(function() {
              $(".button-collapse").sideNav();
            });
        });
    </script>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
